:root{

    --primary :#222326;/**/
    --bcgWhite : #ffffff;
    --dark : #343a40;
    --azul : #0d1c39;
    --semiWhite: #f7f7f7;
    --secundary:#444;
    --distaque:#2fab8e;
    --titleP: #ccc;
    --textColor:#ccc;
}